<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head', {pageTitle: 'Book Details'}) %>
        <body>
            <a href="/">Home</a>
            <a href="/searches">Search</a>
            <%- include ('detail') %>
            </body>
        </html>