<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/base.css">
</head>
<body>
        <header>

        </header>
        <main>
                <form action="/index" method="post">
                        <fieldset>
                                <legend>Google Books</legend>
                                <input type="text" name="title_auther" placeholder="Enter here...." required>
                                <label for="auther"> Search by auther</label>
                                <input name="click" value="auther" type="radio">
                                <label for="title">Search by title</label>
                                <input name="click" value="title" type="radio">
                                <button type="submit">Click to Search</button>

                        </fieldset>
                </form>
        </main>
        <footer>

       </footer>
</body>
</html>